In [1]:
import pandas as pd
import numpy as np
import re

In [5]:
i=pd.read_csv("in.txt", header=None, sep=" ")
i

         0   1                     2
0      1-2  x:                  xpxc
1      1-5  b:             bwlbbbbcq
2      3-5  v:              qvjjdhvl
3     9-12  t:   ttfjvvtgxtctrntnhtt
4      3-4  r:                  rqjw
..     ...  ..                   ...
995    5-7  n:        lbwxnnnncnnwnv
996    8-9  k:             kgkkkkkjf
997    7-9  l:            llllllllll
998  15-19  p:  pppbpcppxcptppvmpppb
999    3-4  m:            fqmwcncsmp

[1000 rows x 3 columns]

In [39]:
def valid1(row):
    l = row[0].split("-")
    min = int(l[0])
    max = int(l[1])
    c = row[1][0]
    count = row[2].count(c)
    return count >= min and count <= max
    
i["result1"] = i.apply(lambda x: valid1(x) , axis=1)
i["result1"].sum()

556

In [40]:
def valid2(row):
    l = row[0].split("-")
    p1 = int(l[0])
    p2 = int(l[1])
    c = row[1][0]
    passwd = row[2]
    return (passwd[p1-1] == c) ^(passwd[p2-1] == c)
    
i["result2"] = i.apply(lambda x: valid2(x) , axis=1)
i["result2"].sum()

605